<a href="https://colab.research.google.com/github/dhsgisc/2019/blob/master/Y1T01_Primes%2C_Highest_Common_Factor_and_Lowest_Common_Multiple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# What are the factors of 18?
num = 18
for i in range(1, 19):
  if num % i == 0:
    print(i, end=' ')

1 2 3 6 9 18

In [0]:
# Is num an integer?
num = 123
print(type(num))

num = 3.21
print(type(num))

<class 'int'>
<class 'float'>

In [0]:
# What are the even numbers from 1 to num?
num = 123
for i in range(1, num+1):
  if i % 2 == 0:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122

In [0]:
# What are the odd numbers from 1 to num?
num = 123
for i in range(1, num+1):
  if i % 2 == 1: # or != 0
    print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123

In [0]:
# Is num a prime number? A prime number is an integer with exactly 2 different factors, 1 and itself.
num = 61

prime = True
for i in range (2,num):
  if num % i == 0:
    prime = False
  
print(prime)

True

In [0]:
# Is num a composite number? A composite number is an integer with more than 2 different factors / is a product of at least 2 primes.
num = 61

prime = True
for i in range (2,num-1):
  if num % i == 0:
    prime = False
  
print(not(prime))

False

In [0]:
# Implement the Sieve of Erathosthenes for numbers between 1 to 100.

In [0]:
# How about from 20 to 567?

In [0]:
# What is the prime number less than num?

In [0]:
# What is the prime number greater than num?

In [0]:
# What is the kth prime number?

In [0]:
# If a and b are integers such that a * b = 17, find the value of a + b.

In [0]:
# If a and b are integers such that a * b = 18, find the possible values of a + b.

In [0]:
# The process of expressing a number as a product of its prime factors is called prime factorisation.
# Express 18 as a prime factorisation.